/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  min-height: 100vh;
}

.description {
  color: #2d3a35;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border-width: 0px;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
}

.countvalue {
  color: #c20a72;
}
